<a href="{{ .RelPermalink }}">
    <div class="post-item position-relative h-100">
        <div class="post-img position-relative overflow-hidden">
            {{ if .Params.image }}<img class="img-fluid" loading="lazy" src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
            <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
        </div>
        <div class="post-content d-flex flex-column">
            <h3 class="post-title">{{ .Title }}</h3>
            <p>
                {{ .Description }}
            </p>
            <hr>
        </div>
    </div>
</a>
<!-- End post list item -->