{{ define "main" }}
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/img/breadcrumbs-bg.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
        <h2>Blog</h2>
        <ol>
            <li><a href="/">Home</a></li>
            <li>Blog</li>
        </ol>
    </div>
</div>
<!-- Hero End -->
<div class="container mt-5 mb-5 " style="margin-top: 40px;">
    <div class="row ">
        <div class="col-sm-9 ">
            <label class=""><b>OUR BLOG</b></label>
            <h2 style="margin-bottom: 30px; ">Latest News </h2>
        </div>
    </div>
    <div class="row" id="showresults">
        {{ range (.Paginator 1000).Pages.ByPublishDate.Reverse }}
        <div class="col-lg-4 col-md-6 col-12 phone-fast mt-4 filter {{range .Params.categories}}{{.}} {{end}}">
            <div class="grids blog-shadow ">
                {{ .Render "li"}}
            </div>
        </div>
        {{ end }}
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>

{{end}}