<!-- <script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/app.min.js"></script>
<script src="/js/vscustom-carousel.min.js"></script>
<script src="/js/ajax-mail.js"></script>
<script src="/js/main.js"></script> -->

<!-- JS here -->
<!-- All JS Custom Plugins Link Here here -->
<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="/js/wow.min.js"></script>
<script src="/js/animated.headline.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>

<!-- Nice-select, sticky -->
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/js/contact.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>

<!-- <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
<script>
    hbspt.forms.create({
        region: "na1",
        portalId: "39761076",
        formId: "f831816b-0050-4d5c-b78e-9fed8f676de3",
        target: '#contact',
    });
    hbspt.forms.create({
        region: "na1",
        portalId: "39761076",
        formId: "13fcd898-95f7-426b-99e7-346b751413f3",
        target: '#bookappointment',
    });

    hbspt.forms.create({
        region: "na1",
        portalId: "39761076",
        formId: "4140b0eb-732d-4173-abf3-e88cdc05570f",
        target: '#referees',
    });
</script> -->